
$dark-base: #345995;
$dark-red: #de5d5d; 
// $old-dark-base: #403A60;


body {
  display: flex;
  flex-direction: column;
  background-color: rgba($dark-red, .2);
  // position: relative;
  height: 100%;
  font-family: "Nunito", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

main { 
  flex: 1 0 auto;
  margin-top: 60px;   
}

.container{
  max-width: 98%;
}

nav * {
  background-color: $dark-red; 
}


nav {  
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav a {  
  position: relative;
  text-decoration: none;
  margin-right: 40px;
}

nav a::after {
  content: ""; 
  border-bottom: 3px solid $dark-base;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  color: $dark-base;
  opacity: 1;
  transform: translateY(0);
}

button {
  color: #fff;
  background-color: $dark-base;
}

option{
  cursor: pointer;
}


.error{
  background-color: rgba($dark-red, .6);
  font-weight: bold;
  padding: 20px;
  border-radius: 4px;
}

.hide_me {
      animation-name: hide;
      animation-duration: 5s;
      animation-fill-mode: forwards; 
  }

@keyframes hide {
                0% {
                    opacity: 1;
                    height: 100%;
                    line-height: 100%;
                    padding: 20px; 
                }
                85% {
                    opacity: 1;
                    height: 100%;
                    line-height: 100%;
                    padding: 20px; 
                }
                100% {
                    opacity: 0;
                    height: 0px;
                    line-height: 0px;
                    padding: 0px; 
                }
            }

.content-section{
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}

#chatroom{
  padding: 6px;
  background-color: #fff;
  // border: 2px inset rgba($dark-red, .5);
  border-radius: 4px;
  height: 70vh;
  overflow: scroll; 
  vertical-align: bottom;
  position: relative;
  bottom: 0; 
}

.chatimg {
  height: 40px; 
  width: 40px;
  object-fit: cover;
  margin-right: 4px;
}

.date {
  font-size: .8em;
  color: $dark-base;
  float: right;
}

.username { 
  font-weight: bold;  
}

.sysmessage {
  font: italic .7em "Nunito", sans-serif;  
}

.list-group li { 
  border: 0;
  color: $dark-base;
  position: relative;
  text-decoration: none; 
  cursor: pointer;
}

.list-group li::after {
  content: "";
  color: $dark-base;
  border-bottom: 3px solid $dark-base;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.list-group li:hover::after {
  color: $dark-base;
  opacity: 1;
  transform: translateY(0);
}
 
.logo {
    margin-right: 10px;
    height: 40px;
    padding-bottom: 4px;
}

.navbar-brand {
  padding-left: 10px;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

header {
  background-image: url("https://source.unsplash.com/1600x900/?travel");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  position: relative;
  color: #fff;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.header-content {
  padding-top: 10%;
}

header * {
  position: relative;
  padding-left: 10%;
  z-index: 1;
}

.hero {
  padding-left: 30%;
  height: 30vh;
}

header h1 {
  font-weight: bold;
}

header .icon {
  font-size: 6em;
}

header p {
  font-size: 2em;
}

.logo-lg {
  max-height: 150px;
  margin-bottom: -20px;
}

.login{
  display: flex-wrap;
  justify-content: space-around;
}

.login .form-group { 
  display: inline-block;
}

.profile {
  display: flex-wrap; 
  justify-content: space-around;
}

.profile .form-group{ 
  display: inline;
  width: 30%; 
}

 
.chatbox input{
  border: 2px solid rgba($dark-red, .5);
  border-radius: 4px;
  width: 87%; 
  padding-top: 4px;
  padding-bottom: 6px;
  margin-right: 1vw;
  display: inline-block;
}

.chatbox button{
  float: right;
}

ul{
  list-style: none;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 95vw;
}
 
.article-img {
  height: 125px; 
  width: 125px;
  object-fit: cover;
  margin-right: 16px;
}

.media {
  display: flex;  
  align-items: flex-end; 

}
 
footer {  
  flex-shrink: 0;
  text-align:center;
  // position: absolute;
  bottom: 0;
  width: 100%;
  color: #f9a17d;
  background-color: $dark-base;
  padding: 20px;
}

footer a {
  color: rgba(255,255,255, .8);
}
 
footer a:hover {
  color: rgba(255,255,255, .8);
  text-decoration: underline;
}

footer ul {
  display: table;
  margin: 0 auto;
}

footer ul li {
  margin: 20px;
  letter-spacing: 2px;
  display: inline;
  list-style: none;
  text-transform: uppercase;
}

section, article, aside, footer, header, nav {
  display: block;
}
  
.channels-mobile{
  display: none;
}

@media only screen and (max-width: 575px) {
  body{
    font-size: .8em;
  }
  .navbar-brand {
    font-size: 1.2em;
  }  

  h3{
    font-size: 1em;
  }

  #chatroom{
    height: 60vh;
  }
 
  .chatbox input{
    border: 2px solid rgba($dark-red, .5);
    border-radius: 4px;
    width: 70%;
    display: inline;
  }
  
  .channels{
    display: none;
  }

  .channels-mobile{
    display: block;
  }

  .logo {
    max-height: 50px;
  }
 
  .navbar-brand{
    font-size: 1em;
    padding: 0;
  }

  footer { 
    margin:5px;
  }

}

