body {
  font-family: "Nunito", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

main { 
  margin-top: 100px;
}

.container{
  max-width: 98%;
}

nav * {
  background-color: rgb(222, 93, 93);
}


nav { 
  color: #403a60;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav a { 
  color: #403a60;
  position: relative;
  text-decoration: none;
  margin-right: 40px;
}

nav a::after {
  content: "";
  color: #403a60;
  border-bottom: 3px solid #403a60;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  color: #403a60;
  opacity: 1;
  transform: translateY(0);
}
 
option{
  cursor: pointer;
}

#chatroom{
  padding: 4px;
  border: 4px inset rgba(222, 93, 93, .3);
  border-radius: 4px;
  height: 70vh;
  overflow: scroll; 
  vertical-align: bottom;
  position: relative;
  bottom: 0; 
}

.date {
  font-size: .8em;
  color: #403a60;
  float: right;
}

.username { 
  font-weight: bold;  
}


.list-group li { 
  color: #403a60;
  position: relative;
  text-decoration: none; 
  cursor: pointer;
}

.list-group li::after {
  content: "";
  color: #403a60;
  border-bottom: 3px solid #403a60;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.list-group li:hover::after {
  color: #403a60;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-toggle {
  background-color: transparent;
  border-color: #403a60;
}

.dropdown-item {
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403a60;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dropdown-item a::after {
  content: "";
  color: #403a60;
  border-bottom: 3px solid #403a60;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.dropdown-item a:hover::after {
  color: #403a60;
  opacity: 1;
  transform: translateY(0);
}

.logo {
  margin: 10px;
  height: 80px;
}

.navbar-brand {
  padding-left: 10px;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

header {
  background-image: url("https://source.unsplash.com/1600x900/?travel");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  position: relative;
  color: #fff;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.header-content {
  padding-top: 10%;
}

header * {
  position: relative;
  padding-left: 10%;
  z-index: 1;
}

.hero {
  padding-left: 30%;
  height: 30vh;
}

header h1 {
  font-weight: bold;
}

header .icon {
  font-size: 6em;
}

header p {
  font-size: 2em;
}

.logo-lg {
  max-height: 150px;
  margin-bottom: -20px;
}

.login{
  display: flex-wrap;
  justify-content: space-around;
}

.login .form-group { 
  display: inline-block;
}

.profile {
  display: flex-wrap; 
  justify-content: space-around;
}

.profile .form-group{ 
  display: inline;
  width: 30%; 
}

 
.chatbox input{
  width: 87%; 
  padding-top: 4px;
  padding-bottom: 6px;
  margin-right: 1vw;
  display: inline-block;
}

.chatbox button{
  float: right;
}

ul{
  list-style: none;
}
 

section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 95vw;
}
 
footer {
  color: #f9a17d;
  background-color: #403a60;
  padding: 100px;
}

footer a {
  color: #f9a17d;
}

footer a:hover {
  color: #f9a17d;
  text-decoration: underline;
}

footer ul {
  display: table;
  margin: 0 auto;
}

footer ul li {
  margin: 20px;
  letter-spacing: 2px;
  display: inline;
  list-style: none;
  text-transform: uppercase;
}

section, article, aside, footer, header, nav {
  display: block;
}

@media only screen and (max-width: 575px) {
  #home_room{
    margin-top: 10px;
    height: 50vh;
  }
  .chatbox input{
    width: 70%;
    display: inline;
  }
  

  .logo-lg {
    max-height: 100px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

