{% extends "layout.html" %}

{% block body %}
   


<h2 class="m-2"> Welcome to Flack</h2>
    <h6 class="m-2"><i> a chat app like slack built with flask </i></h6>

    <div class="m-5"> </div>
    <div class="m-5"> </div>


    <ul id="votes">
    </ul>
    <hr>
    <button data-vote="yes">Yes</button>
    <button data-vote="no">No</button>
    <button data-vote="maybe">Maybe</button>

    <div class="m-5"> </div>

    <div id="result">
        
    </div>

    <div class="m-5"> </div>
    <div id="form" class="chatbox m-2">
            <input autocomplete="off" autofocus id="input" class="m-2" placeholder=" ..." type="text">
            <button class="btn btn-info" id="submit">submit</button>
    </div>
 
 
    <div class="m-2"> </div>


{% endblock %}
