{% extends "layout.html" %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
        <div class="col-md-9">
                                
        {% if not username %}
            <div class="m-5"> </div>   
            <div class="content-section">
                <h2 class="m-2"> Welcome to Flack</h2>
                <h6 class="m-2"><i> a chat app like slack built with flask </i></h6>
                
                <div class="m-5"> </div>   
                
                <h5 class="m-2"> Select a channel and enter a username to get started: </h5>
                
                <form action="/" method="post" class="m-2 login">
            
                    <div class="m-4 form-group"> </div>  
                        <div class="form-group">
                            <select class="form-control btn" name="room" autofocus aria-haspopup="true" aria-expanded="false"> 
                                <option class="dropdown-item" id="dropdown" disabled selected="" value="" >Select a Channel</option>
                                {% for room in rooms %}
                                        <option id="room"> {{ room|title }} </option>
                                {% endfor %}
                            </select>
                        </div>
                            
                    <div class="m-2 form-group"> </div>
                    <div class="form-group">
                        <input id="username" autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="m-2 form-group"> </div>
                    <div class="form-group">
                        <button id="submit" class="btn" type="submit" disabled >Register</button>
                    </div>
                </form> 
            </div>
        {% endif %}  

        {% if error %} 
            <p class="error hide_me">
                {{ error }}
            </p>
        {% endif %}

        {% if username %}   
            <div class="m-3"> </div>
            <div id="chatroom">
            </div> 

            <div class="m-3"> </div>

            <div id="form" class="chatbox">
                    <input autocomplete="off" autofocus id="chat" class=" " placeholder=" ..." type="text">
                    <button class="btn" id="send_chat">send</button>
            </div>
            
             

        </div>

            <div class="col-md-3 ">
            <div class="m-3"> </div>
            <div class="content-section" >

                <div class="channels">
                    <h3 >Channels</h3> 
                        <ul class="list-group">
                        {% for room in rooms %}
                            <li class="list-group-item select_room">{{ room|title }}</li>
                        {% endfor %}
                        <!-- Button trigger modal -->
                        <li class="list-group-item" id="createroom" type="button" class="btn" data-toggle="modal" data-target="#exampleModal"> Create new channel </li>
                        </ul>
                </div>

                <!-- Channel selection for Mobile -->
                <div class="dropdown channels-mobile" >
                <h3 class="dropdown-toggle" data-toggle="dropdown" >Channels</h3> 
                    <ul class=" dropdown-menu">
                        {% for room in rooms %}
                            <li class="list-group-item select_room dropdown-item">{{ room|title }}</li>
                        {% endfor %}
                        <!-- Button trigger modal -->
                        <li class="list-group-item" id="createroom" type="button" class="btn dropdown-item" data-toggle="modal" data-target="#exampleModal"> Create new channel </li>
                    </ul>
                </div>
               
            </div>
            </div> 


            <div class="m-3"> </div>



            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create a new channel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/" method="post" class="m-2 login">
                    
                                <div class="m-2 form-group"> </div>

                                <div class="form-group">
                                    <input id="channel" autocomplete="off" class="form-control" name="channel" placeholder="new channel name" type="text">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button   type="submit" class="btn">Submit</button>
                        </div>
                        </form>
                    </div>
            </div>
            </div>
 
        {% endif %}

       
    </div>
    </main>   
{% endblock %}

{% block script %} 


    {% if new_channel %}
        <script>
        let newroom = `{{ room }}`;
        localStorage.setItem('room', newroom);
        </script>
    {% endif %}

    <script>

    document.addEventListener('DOMContentLoaded', () => {

        // store session data
        let room = `{{ room }}`;
        let username = `{{ username|e }}`; 
        let image_file = `{{ image_file }}`;

        if (!localStorage.getItem('room')) {
            localStorage.setItem('room', room); 
            }; 

        if (!localStorage.getItem('username')) {
            localStorage.setItem('username', username);  
            };

        if (!localStorage.getItem('image_file')) {
            localStorage.setItem('image_file', image_file); 
            };


        // listen for values and enable register button
        let username_button = document.querySelector('#username');
        let channel = document.querySelector('select');        
        if (username_button) {
            username_button.addEventListener("keyup", submitFunction);
        };
        if (channel) {
            channel.addEventListener("change", submitFunction);
        };
         
        function submitFunction() {
                if (username_button.value === '' || channel.options[channel.selectedIndex].value == ''){
                    console.log(channel.options[channel.selectedIndex].value);
                    document.querySelector('#submit').disabled = true;
                }
                else {
                    document.querySelector('#submit').disabled = false;
                }
        };

        // scroll chatroom to bottom in case there's a lot of messages
        let messageBody = document.querySelector('#chatroom');
        if (messageBody) {
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        };


        // trigger chat button click with enter key 
        input = document.querySelector('#chat');  
        if (input) {
            input.addEventListener("keyup", event => {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) { 
                    document.querySelector('#send_chat').click();
                };
            }); 
        };


    });
 
    </script>  


{% endblock %}
