<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Playfair+Display:400,900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/static/styles.css" rel="stylesheet">
    
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    
    <title>Flack</title>
</head>

<body>

        <nav class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/"> Flack Messaging</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            <!--  if current_user.is_authenticated  -->
                            <a class="nav-item nav-link" href="#">Profile</a>
                            <a class="nav-item nav-link" href="#">Logout</a>
                            <!-- else -->
                            <a class="nav-item nav-link" href="#">Login</a>
                            <a class="nav-item nav-link" href="#">Register</a>
                            <!--  endif -->
                        </div>
                    </div>
                </div>
            </nav>
        </nav>
        
        
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} border text-center " role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
        
                    {% block body  %}
                    
                    {% endblock %}
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Sidebar</h3>
                        <p class='text-muted'>Information
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Latest Posts</li>
                                <li class="list-group-item list-group-item-light">Announcements</li>
                                <li class="list-group-item list-group-item-light">Calendars</li>
                                <li class="list-group-item list-group-item-light">etc</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </main> 

</body>